::before,
::after {
    position: absolute;
    content: "";
}

.title {
    font-weight: 700;
}

.note p {
    margin: 0;
}

li.note {
    position: relative;
    overflow: auto;
    padding: 2% 3% 3%;
    width: 360px;
    height: 280px;
    background-color: #dcffe0;
    border: 1px solid #dcffe0;
    -webkit-box-shadow: 1px 1px 3px #aaaaaa;
    box-shadow: 1px 1px 3px #aaaaaa;
    overflow: hidden;
}

.note-content-container {
    height: 93%;
    overflow: auto;
}

.note-title {
    font-weight: 700;
    font-size: 1.4em;
}

.note-time {
    margin: 1% 0 0 0;
}

.note-user {
    font-weight: 700;
}

.note-footer {
    font-style: italic;
    color: #a0a0a0;
}

ul.note-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.note-wrapper > .note-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: auto;
    grid-gap: 2em;
    justify-items: stretch;
}

a.btn,
button.btn {
    margin: 1em 1em 1.5em 1em;
    padding: 0;
}

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}

.btn::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
}

.btn span {
    color: rgb(28, 31, 30);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
}

.btn span:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
}

.btn.hover-slide-up::before {
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
}

.btn.hover-slide-up:hover::before {
    height: 100%;
}
