asgiref==3.2.7
attrs==19.3.0
Automat==20.2.0
constantly==15.1.0
Django==3.0.6
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
more-itertools==8.2.0
packaging==20.3
parameterized==0.7.1
pluggy==0.13.1
py==1.8.1
PyHamcrest==2.0.2
pyparsing==2.4.6
pytest==5.4.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
Twisted==20.3.0
wcwidth==0.1.9
zope.interface==5.0.2
