{% extends "base_generic.html" %}

{% block content %}
<h1 class="title">FridgeBook</h1>
<h2><strong>Notes number:</strong> {{ num_notes }}</h2>
<a class="btn hover-slide-up" href="{% url 'add_note' %}">
    <span>Create note</span>
</a>
{% if notes %}
<div class="note-wrapper">
    <ul class="note-container">
        {% for note in notes %}
        <li class="note">
            <div class="note-content-container">
                <p class="note-title">{{ note.title }}</p>
                <p class="note-content">{{ note.content }}</p>
            </div>
            <p class="note-footer"><span class="note-time">{{ note.created_at }}</span> by <span
                    class="note-user">{{ note.user }}</span></p>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>There aren't any notes</p>
{% endif %}
{% endblock %}