{% extends "base_generic.html" %}

{% block content %}
    <h1 class="title">FridgeBook</h1>
    <h2><strong>Notes number:</strong> {{ num_notes }}</h2>
    <a class="test" href="{% url 'add_note' %}">Create note</a>
    {% if notes %}
        <ul>
            {% for note in notes %}
            <div>
                <div>{{ note.title }}</div>
                <div>{{ note.content }}</div>
                <div>{{ note.created_at }} {{ note.user }}</div>
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>There aren't any notes</p>
    {% endif %}
{% endblock %}
