{% extends 'base_generic.html' %}
{% block content %}
    <div class="title">Register</div>
        <form method="post">
            {% csrf_token %}
                <div>username:</div>
            {{ form.username }}
            {{ form.errors.username }}
            <div>email:</div>
            {{ form.email }}
            {{ form.errors.email }}
            <div>password:</div>
            {{ form.password1 }}
            {{ form.errors.password1 }}
            <div>password confirmation:</div>
            {{ form.password2 }}
            {{ form.errors.password2 }}
            <div>
            <button class="btn hover-slide-up"  type="submit"><span>Register</span></button>
            </div>
    </form>
{% endblock %}